# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\jiYun\P10\usian-leadnews\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
